{% extends 'base.html' %} {% block content %} {% for ticket in tickets %}
<div class="container-fluid">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item"><span class="badge"></span>Todo</li>
            <li class="list-group-item"><span class="badge"></span>Doing</li>
            <li class="list-group-item"><span class="badge"></span>Done</li>
            <li class="list-group-item"><span class="badge"></span>Urgent</li>
            <li class="list-group-item"><span class="badge"></span>Not Urgent</li>
        </ul>
    </div>
</div>
{% endfor %} {% endblock %}
