{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="row row-flex">
    {% for item in cart_items %}

    <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="boldtext">Issue: </span>{{ item.ticket.issue_name }}</h3>
            </div>
            <div class="panel-body">
                <div class="ticket" style="background-image: url('{{ MEDIA_URL }}{{ item.ticket.image }}')"></div>
                
                <p class="issue-detail"><span class="boldtext">Detail: </span>{{ item.ticket.issue_detail }}</p>
                <p><span class="boldtext">Price: </span>{{ item.ticket.price }}</p>
                <p>
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Hrs</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">{{item.quantity}}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Amend</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--Total amount div-->
<div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><span class="boldtext">Total: </span><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ total }} </p>
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
